:host{
  width : 100%;
  max-width: 100%;
}
.chat-container{

  width: 100%;
  max-width: 100%;
  .chat-title{
    text-align: center;
    width: 100%;
  }
  #box{
    border: 2px solid black;
    height: 80vh;
    overflow:auto;
    width: 90%;
    margin-left: 5%;
    word-wrap: break-word;
    max-width: 100%;
  }

  :host ::ng-deep .message{
    width: 98%;
    margin-left: 1%;
    max-width: 98%;
    text-align: justify;
  }

  input{
    width: 90%;
    height: 30px;
    margin:5px 0 5px 0;
    border: 1px solid black;
    margin-left: 5%;

  }
}
