.header {
  display: flex;
  align-items: center;

  background-color: grey;
  height: 5%;

  .left-side-header{
    display: flex;
    align-items: center;
    flex:0.5;
    .appName{
      margin-left: 5%;
      color: white;
    }

    .menu-burger-icon{
      margin-left: 2%;
      color:white;
      cursor: pointer;

      &:hover{
        color:#130f40;
      }
    }
  }

  .right-side-header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0.5;

    .update-icon{
      margin-right: 2%;
      color:white;
      cursor: pointer;

      &:hover{
        color:#130f40;
      }
    }

    .playerName{
      margin-right: 5%;
      color: white;
    }

    .playerNameInput{
      margin-right: 5%;
    }
  }
}



.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  height: 95%;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

mat-nav-list{
  padding:0;
}


.hidden{
  display:none;
}
