<div class="header">

  <div class="left-side-header">
    <span class="material-icons menu-burger-icon" (click)="sidenav.toggle()">
      menu
    </span>
    <span class="appName"> Real Time App</span>

  </div>

  <div class="right-side-header">
    <span class="playerName"> </span>
    <input class="playerNameInput hidden">
    <input type="color" class="colorPicker" disabled name="" value="">
    <span class="material-icons hidden" id="validateName" (click)="validateProfile()">
      done
    </span>
    <span class="material-icons update-icon" (click)="updateProfile()">
      create
    </span>
  </div>

</div>


<mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/rooms', 'tictactoe']">Tic Tac Toe</a>
        <a mat-list-item [routerLink]="['/rooms', 'connectfour']">Connect Four</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
